<div class="container">
  <div class="row">
      <div class="col col-12 col-sm-2"></div>
          <div class="col col-12 col-sm-8">
              <br><br><br>
              <h2 class="text-center"> Edit Bowler details </h2>
              <br>
              <form >
                  <table class="table table-borderless">
                      <tr>
                          <td>Name:</td>
                          <td><input type="text" class="form-control" name="uname" id="uname" value={{myPersonData[0].uname}}></td>
                      </tr>
                      <tr>
                          <td>Email:</td>
                          <td><input type="text" class="form-control" name="umail" id="umail" value={{myPersonData[0].umail}}></td>
                      </tr>
                      <tr>
                          <td>Mobile:</td>
                          <td><input type="text" class="form-control" name="umob" id="umob" value={{myPersonData[0].umob}}></td>
                      </tr>
                      <tr>
                          <td>Message:</td>
                          <td><input type="text" class="form-control" name="umsg" id="umsg" value={{myPersonData[0].umsg}}></td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><button class="btn btn-success type=submit">UPDATE</button></td>
                      </tr>
                  </table>
              </form>
          </div>
          <div class="col col-12 col-sm-2"></div>
      </div>
  </div>